<li class="dropdown">
    <a href="#" id="drop" role="button" class="dropdown-toggle disabled" data-toggle="dropdown">Tools <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'tableizer_index' %}">Tableizer</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'canonicalizer_index' %}">SQL Canonicalizer</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Schemanizer</a></li>
    </ul>
</li>
