{% extends 'base.html' %}

{% block hero %}
    <h1>Servers: {{ server.name }}</h1>
    <h3>Current Size: {{ server.cached_size|filesizeformat }}</h3>
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="btn-group">
                <a class="btn" href="{% url 'top_tables_srv' server.id %}">Top Tables</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12 text-center">
            {% include "ttt_gui/graphs/server_full.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Databases:</h3>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for db in server.serverschema_set.all %}
                    {% if not db.name %}
                    <tr>
                        <td colspan="2">Unreachable</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td><a href="{% url 'database_detail' db.id %}">{{ db.name }}</a></td>
                        <td>{{ db.cached_size|filesizeformat }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}

