{% extends 'ttt_gui/tableizer_base.html' %}

{% block title %}
{{ block.super }} | Top Tables
{% endblock title %}

{% block hero %}
    <h1>Top Tables {% if server %}<em>{{ server.name }}.{{ database.name }}</em>{% endif %}</h1>
    {% ifequal type 'top_N' %}<h3>Top {{ tables.count }} {% ifequal tables.count 1 %}Table{% else %}Tables{% endifequal %} as of last volumetric collection.</h3>{% else %}<h3>Top {{ tables|length }} {% ifequal tables|length 1 %}Table{% else %}Tables{% endifequal %} by {{ percent|floatformat:"-5" }}% growth over {{ days }} {% ifequal days 1 %}day{% else %}days{% endifequal %}.</h3>{% endifequal %}
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h5>Description:</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <ul>
                <li>Enter in just 'N' in the form below to get top N tables as of last volumetric collection.</li>
                <li>Enter in 'N', 'Pct', and 'Days' to get 'top N tables by Pct growth over Days'.</li>
            </ul>
            <form method="GET">{% csrf_token %}
                {{ form.as_p }}
                <input class="btn" type="submit" value="Update" />
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            <table class="table table-striped">
                {% ifequal type 'top_N' %}
                <thead>
                    <tr>
                        {% if not server %}<th>Server</th>{% endif %}
                        <th>Database</th>
                        <th>Table</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tables %}
                    <tr>
                        {% if not server %}<td>{{ t.schema.server.name }}</td>{% endif %}
                        <td>{{ t.schema.name }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.cached_size|filesizeformat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>Database</th>
                        <th>Table</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tables %}
                    <tr>
                        <td>{{ t.0.0 }}</td>
                        <td>{{ t.0.1 }}</td>
                        <td>{{ t.0.2 }}</td>
                        <td>{{ t.1|floatformat:"2" }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endifequal %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}

