{% extends 'canonicalizer/canonicalizer_base.html' %}
{% load canonicalizer_tags %}

{% block title %}
{{ block.super }} | Explained Statements
{% endblock title %}

{% block hero %}
<h1>Explained Statements</h1>
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Server ID</th>
                        <th>Canonicalized Statement</th>
                        <th>Hash</th>
                        <th>Schema</th>
                        <th>Results</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in stmts %}
                        <tr>
                            <td>{{ r.server_id }}</td>
                            <td>{{ r.canonicalized_statement }}</td>
                            <td>{{ r.canonicalized_statement_hostname_hash|hex_str }}</td>
                            <td>{{ r.db }}</td>
                            <td><a href="{% url 'explain_results' r.id %}">view</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}
