{% extends 'canonicalizer/canonicalizer_base.html' %}

{% load canonicalizer_tags %}

{% block title %}
{{ block.super }} | Top {{ n }} Queries
{% endblock title %}

{% block hero %}
<h1>Top {{ n }} Queries</h1>
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <table id="top_queries" class="table table-striped table-condensed table-bordered table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Hostname</th>
                        <th>Schema</th>
                        <th>Canonicalized statement</th>
                        <th>Hash</th>
                        <th>Number of times seen</th>
                        <th>Total query time</th>
                        <th>Total lock time</th>
                        <th>Total rows read</th>
                        <th>Avg query time</th>
                        <th>Avg lock time</th>
                        <th>Avg rows read</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in qs %}
                        <tr>
                            <td>{{ r.hostname }}</td>
                            <td>{{ r.schema }}</td>
                            <td class="statement">{{ r.canonicalized_statement }}</td>
                            <td>{{ r.canonicalized_statement_hash|hex_str }}</td>
                            <td>{{ r.count }}</td>
                            <td>{{ r.total_query_time }}</td>
                            <td>{{ r.total_lock_time }}</td>
                            <td>{{ r.total_rows_read }}</td>
                            <td>{{ r.avg_query_time }}</td>
                            <td>{{ r.avg_lock_time }}</td>
                            <td>{{ r.avg_rows_read }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#top_queries').tablesorter();
        });
    </script>
{% endblock extra_js %}
