<!DOCTYPE HTML>

<html>
    <head>
        <title>Tableizer</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        {% block extra_css %}{% endblock extra_css %}
    </head>
    <body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Tableizer</a>
            <ul class="nav">
                <li class="dropdown">
                    <a href="{% url 'server_list' %}" id="drop" role="button" class="dropdown-toggle disabled" data-toggle="dropdown">Servers <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                        {% for srv in server_objects %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'server_detail' srv.id %}">{{ srv.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{% url 'database_list' %}">Databases</a></li>
                <li><a href="{% url 'history_index' %}">History</a></li>
                <li><a href="{% url 'all_graphs' %}">All Graphs</a></li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <form class="navbar-search" method="GET" action="{% url 'search' %}">{% csrf_token %}
                        <input type="text" name="q" class="search-query input-medium" placeholder="Search">
                    </form>
                </li>
                <li>
                    <form class="navbar-search" method="GET" action="">{% csrf_token %}
                        <input type="text" name="since" class="search-query input-medium" placeholder="Since(eg. 1h, 2d, 3w, 4m)">
                    </form>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <span class="navbar-text">Displaying changes since: <strong>{{ since_date|timesince }} ago</strong></span>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="hero-unit">
                {% block hero %}{% endblock hero %}
            </div>
        </div>
    </div>
    
    {% block body %}{% endblock body %}
    
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
