{% extends 'base.html' %}
{% load diff_tags %}

{% block hero %}
    <h1>Tables: {{ table.schema.server.name }}.{{ table.schema.name }}.{{ table.name }}</h1>
    <h3>Current Size: {{ table.cached_size|filesizeformat }}</h3>
{% endblock hero %}

{% block body %}
{% if table.has_stats %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="btn-group">
                <a class="btn" href="{% url 'show_history' table.id %}">Change History</a>
                {% if show_diff %}
                <a class="btn" href="{% url 'table_detail' table.id %}">Don't show last change</a>
                {% else %}
                <a class="btn" href="?show_diff=True">Show last change</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12 text-center">
            {% include "ttt_gui/graphs/table_full.html" %}
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <pre><code>{{ table.get_create }}</code></pre>
        </div>
        {% if show_diff and table.get_create %}
        <div class="span6">
            <span><strong>Most Recent Change:</strong></span>
            <pre><code>{{ table|gen_diff }}</code></pre>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">    
        <div class="span12">
            <h3>No Statistics Collected</h3>
        <div>
    </div>
</div>
{% endif %}
{% endblock body %}


