{% extends 'ttt_gui/tableizer_base.html' %}

{% block title %}
{{ block.super }} | History - {{ table.name }}
{% endblock title %}

{% block hero %}
<h1>Table History: {{ table.schema.server.name }}.{{ table.schema.name }}.{{ table.name }}</h1>
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            {% include 'ttt_gui/shared/show_diffs.html' %}
        </div>
    </div>
    <div class="row">
        <div class="span6">
            {% include 'ttt_gui/history/definition_history.html' %}
            {% include 'ttt_gui/history/view_history.html' %}
        </div>
        <div class="span6">
            {% include 'ttt_gui/history/volume_history.html' %}
        </div>
    </div>
</div>
{% endblock body %}

{% block extra_js %}
<script type="text/javascript">
    {% include 'ttt_gui/shared/show_diffs.js' %}
</script>
{% endblock extra_js %}
